//resolutions
$desktop: 1500px;
$laptop: 992px;
$tablets: 1024px;
$phones: 480px;

//configuration
@import "config/media";

//blocks
@import "blocks/welcome";
@import "blocks/speaker";
@import "blocks/program";
@import "blocks/advantages";
@import "blocks/result";
@import "blocks/benefit";
@import "blocks/registration";
@import "blocks/form";

//fonts
@import "layout/fonts";