@font-face {
    font-family: Raleway-Regular;
    src: url(..//fonts/Raleway-Regular.woff);
    src: url(..//fonts/Raleway-Regular.woff2);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(..//fonts/Raleway-Bold.woff);
    src: url(..//fonts/Raleway-Bold.woff2);
}
